/* Üzenet elemek módosítása */

#feedback_message .alert {
  margin-top: 20px;
}


.alert {
  padding: 20px 45px 20px 24px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #FFFFFF;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.alert,
.alert h4 {
  color: #707070;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #0584b8;
  /*background-color: #FFFFFF;*/
  border-color: #0584b8;
}

.alert-success h4 {
  color: #0584b8;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  /*background-color: #FFFFFF;*/
  border-color: #b94a48;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #f3c406;
  /*background-color: #d9edf7;*/
  border-color: #f3c406;
}

.alert-info h4 {
  color: #f3c406;
}

.alert-warning {
  color: #6a6a6a;
  /*background-color: #d9edf7;*/
  border-color: #6a6a6a;
}

.alert-warning h4 {
  color: #6a6a6a;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


/* paginator mod */

.pagination ul li span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	-moz-box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	background-color: #fff;
	border: 0px;
	margin: 0px 5px;
	padding: 7px 14px;
}

.pagination ul li:first-child span, .pagination ul li:last-child span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


/* navigációs menü módosítások */

.navigation-wrapper .navigation .nav li a.no_arrow {
	background-image: none;
}
/*
div.feltetelek ul li {
    background-image: url("../image/icons/nike.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 11px 9px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}
*/

.content-box {
	margin-bottom: 20px;
}

.content-box p {
	line-height: 22px;
}
.content-box ul li {
	margin-bottom: 4px;
	line-height: 22px;
}


/*
.content-box hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee -moz-use-text-color #c1c1c1;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
*/

.job-detail {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

.job-detail h1, .job-detail h2, .job-detail h3, .job-detail h4, .job-detail h5, .job-detail h6 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.job-detail .overview-right {
    /*background-color: #f3c406;*/
    /*color: #000;*/
    border: 1px solid #b5b5b5;
    margin: 0px 0px 10px 30px;
    padding: 20px;
}
.job-detail .overview-right h2 {
    clear: both;
    line-height: 1;
    margin: 0px 0px 20px 0px;
}
.job-detail .overview-right table th {
    text-align: left;
    padding-right: 15px;
}

.job-detail .btn-primary {
    color: #fff;
    background-color: #0581b5;    
    transition: background-color 0.2s ease-in 0s;
}
.job-detail .btn-primary:hover {
    background-color: #045e83;    
}


/* modal-al kapcsolatos szabályok */
.modal-open {
	overflow-y: hidden !important;
}

/* munka részletek */
.job-detail i {
color: #06a7ea;
}

.job-detail .table-striped tbody > tr > td:first-child {
    width: 130px;
}

.job-detail .widget.our-agents .agent {
    background-color: #f2f2f2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 10px 15px;
}

/* footer */
#footer-wrapper a {
color: #909090;
}

/* linkek körüli pontozott vonal eltüntetése Firefoxban */
a:hover, a:focus, a:active {
   outline: 0;
}

/* mobil menu */
#header .menu-toggle {
    background: #022a3b;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 18px;
    margin: 30px 10px 0 0;
    padding: 7px 10px;
}

#header .menu-toggle:hover {
    background: #000;
}

/* kapcsolat oldalon irodák doboz */
.offices {
    background-color: #fff;
    padding: 10px;
}

.offices .accordion {
    margin-bottom: 0px;
}

.offices .accordion-inner {
    padding: 10px 0;
}

.offices .accordion-inner h3.address, h3.call-us, h3.email  {
    margin: 10px 0 5px 0;
    font-size: 16px;
    line-height: 20px;
    
}

/* focus állapotban a szürke háttér eltávolítása */
.nav > li > a:hover, .nav > li > a:focus {
    background: none;
}

/*Google Maps conainer */
#map_canvas {
    border: 5px solid #fff;
    
}

/* hero-unit céges ajánlatkérés */
.hero-unit {
    background-color: #fff;
    border-radius: 0px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.hero-unit h1 {
    color: inherit;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 400;
    margin-bottom: 10px;
}

/*  alsó és felső margók */
.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

/* kiemelés */
blockquote {
    border-left: 5px solid #4bafff;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}





