/* Üzenet elemek módosítása */

#feedback_message .alert {
  margin-top: 20px;
}


.alert {
  padding: 20px 45px 20px 24px;
  margin-bottom: 10px;
  text-shadow: none;
  background-color: #FFFFFF;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.alert,
.alert h4 {
  color: #707070;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #0584b8;
  background-color: #FFFFFF;
  border-color: #0584b8;
}

.alert-success h4 {
  color: #707070;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #FFFFFF;
  border-color: #b94a48;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


/* paginator mod */

.pagination ul li span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	-moz-box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	box-shadow: 0px 1px 1px rgba(1, 1, 1, 0.25);
	background-color: #fff;
	border: 0px;
	margin: 0px 5px;
	padding: 7px 14px;
}

.pagination ul li:first-child span, .pagination ul li:last-child span {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


/* navigációs menü módosítások */

.navigation-wrapper .navigation .nav li a.no_arrow {
	background-image: none;
}
/*
div.feltetelek ul li {
    background-image: url("../image/icons/nike.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 11px 9px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}
*/
.content-box p {
	line-height: 22px;
}
.content-box ul li {
	padding: 3px 0px;
	line-height: 22px;
}


.job-detail {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}

.job-detail h1, .job-detail h2, .job-detail h3, .job-detail h4, .job-detail h5, .job-detail h6 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.job-detail .overview-right {
    /*background-color: #f3c406;*/
    /*color: #000;*/
    border: 1px solid #b5b5b5;
    margin: 0px 0px 10px 30px;
    padding: 20px;
}
.job-detail .overview-right h2 {
    clear: both;
    line-height: 1;
    margin: 0px 0px 20px 0px;
}
.job-detail .overview-right table th {
    text-align: left;
    padding-right: 15px;
}




